/*
우선 순위 : 포괄 < 구체
우선 순위 : class < id
같은 선택자일 때에는 아래 있는 것이 우선
*/

body {
    color: gray;
  }
#leader {
    color: gold;
  }
 body li,
 h6 {
    /* > : 자식, 띄어쓰기 : 자손*/
    color: rgb(94, 181, 181);
  }
  
body > li > h6 {
    color: teal;
}
.korea {
    color: crimson !important;
}
.incheon {
    color: blue;
}
h1 + h2 {
/* 마주하는 첫째 자매 */
    background-color: skyblue;
}

h2 ~ h3 {
/* 마주하는 모든 자매 */
    background-color: aqua;
}
body > ul > ul:nth-child(4) > li:nth-child(2) {
    /* n번째 자식 */
    /* first-child : 첫째
       last-child :  막내*/
    text-decoration: underline;
    /*런쥔만 밑줄*/
}

[type] {
/* HTML 태그 속성 ="값" */
    background-color: coral;
}

body > ul > ul:nth-child(4) > li:nth-child(2) {
    text-decoration: underline;
}

body > ul > ul:nth-child(4) {
    background-color: greenyellow;
}