/* Google Fonts */
/* Variable CSS */
:root {
    /* color */
    --first-color : hsl(160, 100%, 25%);
    --first-color-bright : hsl(160, 100%, 40%);
    --second-color: hsl(339, 77%, 59%);
    --third-color:hsl(42, 87%, 52%);
    --title-color :hsl(160, 0%, 0%);
    --text-color:hsl(160,0%, 47%);
    --body-color : #fff;
    --container-color : #fff;

    /* fotns */
    --body-font : 'Noto Sans KR', sans-serif;
    --biggest-font-size:2.25rem; /*기본 값에 2.25배!!! = 36px 기본값 : 16px*/
    --h1-font-size : 2rem;
    --h2-font-size : 1.5rem;
    --h3-font-size : 1.25rem;
    --normar-font-size : 1rem;
    --small-font-size : 0.8rem;
    --smaller-font-size : 0.75rem;
    
    /* fint weight */
    --font-medium : 500;
    --font-bold : 700;

    /* z-index */
    --z-index :  100;

}

/* BASE */
* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normar-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
 display: none;
}

h1,
h2,
h3 {
    font-weight: var(--font-bold);
    color: var(--title-color);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--title-color);
}
img {
    /*display: block; 줄바꿈이 되도록!! 옆에 아무도 없게 / div가 갖게 되는 기본값 , 가로 한 줄 다 차지*/
    max-width: 100%; /*이미지 보다 창 크기가 작아져도 이미지를 다 유지하면서 축소하자*/
    height: auto;
}