main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.grid-container {
    display: grid;
    /* 여기서 하는 실수, 시험 출제 */
    grid-template-areas:
    "title-a    .           title-b     legend "
    "seat-a     arrow-up    seat-b      legend";
}

.title-a {
    /* grid-area에 들어갈 자리 지정 -> 시험 출제 */
    grid-area: title-a;
}

.title-b {
    grid-area: title-b;
}

.seat-a {
    grid-area: seat-a;
}

.seat-b {
    grid-area: seat-b;
}

.legend {
    grid-area: legend;
}