/* home */

h3{
    font-size: var(--h3-font-size);
}

main {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    flex-wrap: wrap;
    row-gap: 40px;
    margin : 44px 2rem;
}

.card {
    background-color: #f3f3f3;
    border-radius: 1rem;
    /* flex-basis: 240px;
    /* flex-grow: 1;
    flex-shrink: 0; */
    flex: 1 0 240px; /*기본 240px이고 커지면 확장*/
    max-width: 300px; /* 너무 넓지 않게 max 정함*/
}
.now, /* hover 가 아니어도 now 라는 클래스가 있으면 box shadow 지정*/
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.now .card-time,
.card:hover .card-time {
    color: var(--third-color);
}

.card-image {
    height: 160px;
    padding-bottom: 66.6666666667%; /* 그림 비율 유지하며 확대/축소 : 160/240 */
    background : url("../img/plate_edit.png") center center;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
}

.card-description {
    margin: 1rem;
}

.card-title {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.card-menu {
    text-align: center;
    margin-top: 1rem;
}


/* breakpoints */
/*2K & 4K*/

/* mobile */
@media screen and (max-width : 600px) { /*시험문제*/
    .nav-toggle {
        display: block; /*보이게*/
        position: absolute;
        cursor: pointer;
    }

    .nav-logo {
        margin : 0 auto; /*위 아래 : 0, 좌, 우 : auto 똑같은 여백 즉, 가운데 정렬*/
    }

    .nav-list {
        flex-direction: column;
        /* align-items: center; */
        position: absolute; /*절댓값 (왼)0, (오)0*/
        left: 0;
        right: 0; /* width: 100%; */
        top: 44px;                          /*44px은 아이콘을 누를 때 이 크기가 적당하다고 함*/
        background-color: #2f2f2f;   
        height : 0; /*overflow : hidden 함께 메뉴 안 보이게 하자*/
        overflow: hidden;
        transition: 0.1s;
    }
    .nav-item {
        padding : .5rem 0; /*위 아래 여백, 좌, 우 여백 0*/
        border-bottom: 1px solid #fff; /*아래줄 밑줄*/
        text-align: center;
    }
    
    .show-menu {
        height: 164px;
    }


}