@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&display=swap');

/* font-family: 'Black Han Sans', sans-serif; */
/* font-family: 'Gamja Flower', cursive; */


h1 {
    text-align: center;
    max-width: 600px;
    font-family: 'Black Han Sans', sans-serif;
    color: chocolate;
}

.grid-container {
    display: grid;
    grid-template-columns: 50px repeat(5, 1fr);
    max-width: 600px;
    height: 400px;
    color: coral;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid chocolate;
    font-family: 'Gamja Flower', cursive;
}

.days-of-the-week {
    color: white;
    background-color: rgb(255, 173, 143);
}

.period {
    color: white;
    background-color: rgb(255, 173, 143);
}

/* 
.grid-item:nth-child(1) {
    border: 1px solid white;
} */

.grid-item:nth-child(1) {
    grid-column-start: 2;   
}

.grid-item:nth-child(10) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
}

.grid-item:nth-child(18) {
    grid-row: 4 / 6;
    grid-column: 2 / 3;
}

.grid-item:nth-child(20) {
    grid-area: 4 / 4 / 6 / 4;
}

.grid-item:nth-child(21) {
    grid-row: 4 / 6;
    grid-column: 5 / 6;
}

.grid-item:nth-child(27) {
    grid-row: 6 / 8;
    grid-column: 2 / 3;
}

.grid-item:nth-child(28) {
    grid-row: 6 / 8 ;
    grid-column: 3/ 4;
}

.grid-item:nth-child(31) {
    grid-row: 6 / 8;
    grid-column: 6 / 7;
}