@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/* .grid-container {
    display: flex;
    justify-content: space-around;
} */

* {
    font-family: 'Jua', sans-serif;
}

h1 {
    max-width: 800px;
    text-align: center;
    margin: 30px auto;
}

#calendar {
    max-width: 800px;
    height: 600px;
    margin: 0 auto;
}

.grid-container,
.data-grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid-container {
    color: black;
    font-size: 20px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    grid-column-start: 5;
}